#aplphaChannel {
    height: 100px;
    width: 100px;
    background-color: rgba(112, 114, 150, .55);
}

#opacity {
    height: 100px;
    width: 100px;
    background-color: rgb(137, 150, 112);
    opacity: .55;
}