.Price{
    border: 1px solid black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 40px;
    background-color: yellow;
}

.Price span{
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;
}