.task li {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  gap: 5px;
  width: 350px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  border-left: 5px solid #1365dfaf;
}

.task li:hover {
  background-color: #f8f8f8;
}

.task li p {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.task li .name {
  font-size: 18px;
  padding-bottom: 5px;
}

.task li .time {
  font-size: 12px;
  color: #737373;
}

.task i.bi-pencil-square {
  font-size: 18px;
  color: #1363DF;
  cursor: pointer;
}

.task i.bi-trash {
  font-size: 18px;
  color: #D82148;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .task li {
    width: 100%;
  }
}