body {
    text-align: center;
}

.btn {
    height: 250px;
    width: 250px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.gameFlash{
    background-color: white;
}

.userFlash{
    background-color: pink;
}