<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>The total numbers of user are: <%=count %></h1>
    <form action="/user/new" method="get">
        <button>Join us today</button>
    </form>
</body>
</html>