<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create your account</h1>
    <form action="/user/new" method="post">
        <div class="formField">
            <label for="username">Username: </label>
            <input type="text" name="username">
        </div>
        <div class="formField">
            <label for="email">Email: </label>
            <input type="text" name="email">
        </div>
        <div class="formField">
            <label for="password">Password: </label>
            <input type="password" name="password">
        </div>
        <button>Create account</button>
    </form>
</body>
</html>