div {
    width: 900px;
    height: 200px;
    text-align: center;
    background-color: #7aa874;
    margin: 10px auto;
    color: black;
    background-image: url("bgImg.png");
    background-size: cover;
}