#transition {
    height: 100px;
    width: 100px;
    background-color: rgb(137, 150, 112);
    margin:0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in-out .2s;
}

#transition:hover {
    margin-top: 400px;
    background-color: yellow;
}